html{
	background-image: url("./res/background.png");
}

a:link{
	color:white;
}
a:visited{
	color: pink;
}

.link{
	margin: 0px;
}

h1{
	color: #F2B1A2;
	font-family: Impact;
}

.words{
	color: white;
}

.kopimi{
}
