html{
	height: 100%;
	margin: auto;
	display: table;
	background-image: url("./res/background.png");
	
	
}

a:link{
	color:white;
}
a:visited{
	color: pink;
}


h1{
	color: #F2B1A2;
	font-family: Impact;
}

.words{
	color: white;
}

body{
	height: 100%;
    display: table-cell;
    vertical-align: middle;
}


.track{
	display: inline;
}

.track figcaption{
	color: pink;
}
footer{
	margin-top: 50px;
	padding-left: 85%;
}

